:root {
    --primary-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    font-size: 1.6em;
    background: white;
    height: 100vh;
}

h1 {
    color: rgb(25, 20, 44);
    display: flex;
    justify-content: center;
    padding: 2rem;
}

/*.container {
    max-width: 700px;
    margin: 80px auto;
    
    padding: 20px;
    border-radius: 10px;
}


/*p {
    margin-left: 190px;
}*/


/*input.input-tarefa, .bnt-tarefa {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    background: rgba(25, 20, 44, 0.508);
}

/*input button .bnt-tarefa {
    padding: 2px 6px;
}

button .apagar {
    margin: 0 10px;
    padding: 2px 6px;
}

ul li {
    color: var(--primary-color);
}

li {
    margin: 4.5px;
}*/


main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    border-radius: 0.5rem;
    font-size: 14px;
    padding: 0.5rem;
}


.btn-tarefa {
    border-radius: 4rem;
    font-size: 0.9rem;
    padding: 0.3rem;
    cursor: pointer;
}

table {
    width: 80%;
    border-collapse: collapse;
}

th {
    height: 40px;
    background-color: #786b7e;
    color: white;
    margin: 5rem;
    border-bottom: 1px solid rgba(66, 54, 65, 0.466);
    text-decoration: none;
}

table th,
td {

    border: 1px solid black;
}

tr:hover {
    background-color: #965f5f
}

.tarefas {
    align-items: center;
    justify-content: center;
    margin: 5rem;
    border: none;
}


button {
    border-radius: 10px;
    font-size: 15px;
}

